@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Style the header */
.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
  width: 100%;
  text-align: center;
  z-index: 1;
  
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Style the footer */
.footer {
  padding: 7px 10px;
  background: #555;
  color: #f1f1f1;
  width: 100%;
  text-align: center;
  z-index: 1;
  position: sticky;
}

.footer .h4{
  font-weight: 200;
}

body, html{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
}

.main_container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  padding: 100px 50px;
}

.main_container .card{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  height: 300px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0,0,0,0.15);
  transition: 0.5s;
}

.main_container .card:hover{
  height: 400px;
}

.main_container .card .imgBx{
  position: absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  background: #333;
  border-radius: 12px;
  transition: 0.5s;
}

.main_container .card:hover .imgBx{
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0,0,0,0.2);
}

.main_container .card .imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main_container .card .content{
  position: absolute;
  top: 252px;
  width: 100%;
  padding: 0 30px;
  height: 35px;
  overflow: hidden;
  text-align: center;
  transition: 0.5s;
}

.main_container .card:hover .content{
  height: 250px;
  top: 130px;
}

.main_container .card .content h2{
  font-size: 1.5em;
  font-weight: 700;
  color: var(--clr);
}

.main_container .card .content p{
  color: #333;
}

.main_container .card .content a{
  position: relative;
  top: 15px;
  display: inline-block;
  padding: 12px 25px;
  background: var(--clr);
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  border-radius: 8px;
}

.main_container .card .content p .location{
  color: var(--clr);
}